<div class="contact-jumbotron">
  <div class="container">
    <div class="content">
      <h2>联系我们</h2>
    </div>
  </div>
</div>

<div class="container">
	<div class="row contact">
	  <div class="col-md-8 contact-left">
	  	<p>请填写下面的表格或电子邮件与我们的客户服务团队取得联系 <a href="mailto:#">info@jiefu.net</a></p>
	  	<form>
		  	<div class="row">
				  <div class="col-md-6">
				  	<div class="form-group">
					    <label>您的姓名</label>
					    <input type="text" class="form-control" >
					  </div>
				  </div>
				  <div class="col-md-6">
				  	<div class="form-group">
					    <label>手机号码</label>
					    <input type="text" class="form-control" >
					  </div>
				  </div>
				</div>
				<div class="row">
				  <div class="col-md-6">
				  	<div class="form-group">
					    <label>邮箱</label>
					    <input type="email" class="form-control" >
					  </div>
				  </div>
				  <div class="col-md-6">
				  	<div class="form-group">
					    <label>职位</label>
					    <input type="text" class="form-control" >
					  </div>
				  </div>
				</div>
				<div class="row">
				  <div class="col-md-6">
				  	<div class="form-group">
					    <label>公司</label>
					    <input type="text" class="form-control" >
					  </div>
				  </div>
				  <div class="col-md-6">
				
				  </div>
				</div>
				<div class="row">
				  <div class="col-md-12">
				  	<div class="form-group">
					    <label>内容</label>
							<textarea class="form-control" rows="3"></textarea>
					  </div>
				  </div>
				</div>
				<button type="submit" class="btn btn-primary">提交信息</button>
				<p>我们将在2个工作日之内给您答案，为确保您能收到我们的回复，请务必正确及有效的填写上述内容。</p>
			</form>
	  </div>
	  <div class="col-md-4">
	  	<h4>联系我们</h4>
	  	<address>
			  <strong>杰夫中国</strong><br>
			  中国江苏省 无锡市锡山区锡北镇八士锡港路228号 <br>
			  邮编：214192 <br>
			  <abbr title="Phone">电话:</abbr> +86(0510) 83781398 <br>
			  <abbr title="Fax">传真:</abbr> +86(0510) 83782499 <br>
			  联系人：陈兰兰
			</address>

			<address>
			  <strong>杰夫海外</strong><br>
			  中国江苏省 无锡市锡山区锡北镇八士锡港路228号 <br>
			  邮编：214192 <br>
			  <abbr title="Phone">电话:</abbr> +86(0510) 83781398 <br>
			  <abbr title="Fax">传真:</abbr> +86(0510) 83782499 <br>
			  联系人：陈兰兰
			</address>
	  </div>
	</div>
</div>