<footer class="footer footer-list">
  <div class="container">
    <div class="row">
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>产品与服务</strong></li>
          <li><a href="#">协会介绍</a></li>
          <li><a href="#">组织机构</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>技术支持</strong></li>
          <li><a href="#">在线提问</a></li>
          <li><a href="#">常见问答</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>如何购买</strong></li>
          <li><a href="#">购买地址与信息</a></li>
          <li><a href="#">在线服务</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>资讯中心</strong></li>
          <li><a href="#">公司新闻</a></li>
          <li><a href="#">业界新闻</a></li>
          <li><a href="#">杰夫公告</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>关于我们</strong></li>
          <li><a href="#">杰夫简介</a></li>
          <li><a href="#">营运信息</a></li>
          <li><a href="#">工作机会</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong></strong></li>
          <li><a href="#">隐私声明</a></li>
          <li><a href="#">条款和条件</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <p class="text-center">无锡杰夫电声有限公司</p>
  </div>
</footer>